*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
section{
    position: relative;
    width: 100%;
    height: 100%;
    background: #5f8a66;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    position: relative;
    width: 700px;
    height: 250px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}
.clock .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.clock .container h2{
    font-size: 6rem;
    color: white;
}
.clock .container h2:nth-child(odd){
    padding: 5px 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    margin: 0 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.clock .container h2#second{
    color: #2ccbae6e;
}
#ampm{
    position: relative;
    top: -50px;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
}
@media (min-width: 650px) and (max-width: 750px) {
    .clock {
        position: relative;
        width: 587px;
        height: 200px;
    }
}
@media (min-width: 470px) and (max-width: 650px) {
    .clock {
        position: relative;
        width: 446px;
        height: 109px;
    }
    .clock .container h2 {
        font-size: 3rem;
    }
    #ampm{
        top: -20px;
        font-size: 1.5em;
    }
}
@media (min-width: 300px) and (max-width: 470px) {
    .clock {
        position: relative;
        width: 310px;
        height: 109px;
    }
    .clock .container h2 {
        font-size: 1.6rem;
    }
    #ampm{
        top: -20px;
        font-size: 1.5em;
    }
}
@media screen and (max-width: 300px ){
    .clock {
        position: relative;
        width: 225px;
        height: 73px;
    }
    .clock .container h2 {
        font-size: 1.2rem;
    }
    #ampm{
        top: -18px;
        font-size: 1.1em;
    }
    .clock .container h2:nth-child(odd){
    margin: 0 4px;
}
}